@use "variables" as v;
@use "@angular/material" as mat;
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  background-color: mat.get-theme-color(v.$theme, primary, default);
  padding: 3rem 0;
}
a {
  color: mat.get-theme-color(v.$theme, accent, default);
}
.socials {
  
  justify-self: end;
  button {
    margin-right: 1rem;
    height: 32px;
  }
}

.contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  align-content: end;
  
}
