<mat-toolbar class="bar">
  <!-- <span class="primary"></div> -->
  <span class="home-button">
    <img
      ngSrc="assets/logo.png"
      fill
      priority
      (click)="router.navigate([''])"
      style="position: relative"
    />
  </span>

  <span>
    <!-- <button
      mat-button
      class="menu-button"
      (mouseover)="menuOpen(menuProfileTrigger,'perfil')"
      (mouseleave)="menuClose(menuProfileTrigger,'perfil')"
      #menuProfileTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menuProfile"
    >
      <mat-icon iconPositionEnd>expand_more</mat-icon>
      Perfil
    </button>
    <mat-menu
      #menuProfile="matMenu"
      xPosition="before"
      [overlapTrigger]="false"
    >
      <span
        (mouseover)="menuOpen(menuProfileTrigger,'perfil')"
        (mouseleave)="menuClose(menuProfileTrigger,'perfil')"
      >
        <button mat-menu-item (click)="router.navigate(['profile/form'])">
          Formulario
        </button>
      </span> -->
    <!-- </mat-menu> -->
    @for(menu of menus; track $index){

      <app-menu-panel [menuName]="menu.name" [menuItems]="menu.items">
        
      </app-menu-panel>
    }

    
  </span>
</mat-toolbar>
