@use '@angular/material' as mat;
@use 'variables' as v;

.search {
    margin: 12px;

    mat-form {
        width: 100%;
    }

    input {
        width: 100%;
    }
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;

    td,
    th {
        text-align: center;
        border-bottom-style: none;
    }

    tr {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 1px;
        align-items: center;
    }

    [mat-row] {
        &:active {
            opacity: 80%;
        }
        &:hover {
            background-color: mat.get-theme-color(v.$theme, 'accent', 200);
        }
        background-color: mat.get-theme-color(v.$theme, 'accent', 100);
        &:last-child {
            border-radius: 5px;
        }
    }

    [mat-header-row] {
        background-color: mat.get-theme-color(v.$theme, accent, 400);
        font-weight: bold;
    }
}