<section class="header"></section>
<section class="search">
  <mat-form-field appearance="fill">
    <mat-label> Buscar </mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
</section>
<section class="list">
  @defer {
  <table mat-table [dataSource]="personasData">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="row.id"
    ></tr>
    @for (header of displayedColumns; track $index) { @if (["dni",
    "telefono"].includes(header)) {
    <ng-container [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
      <td mat-cell *matCellDef="let persona">
        {{ persona[header] | number : "3.0-0" }}
      </td>
    </ng-container>
    } @else {
    <ng-container [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
      <td mat-cell *matCellDef="let persona">{{ persona[header] }}</td>
    </ng-container>
    } }
  </table>
  }
  <!-- @loading (minimum 2s){
    <mat-spinner></mat-spinner>
    } -->
</section>
