<section class="profile-view">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lupus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        @for(organo of organosAfectados.keys;track $index){
        <span class="item-key">{{ organo | titlecase }}</span>
        <span class="item-value">{{ organosAfectados.data[organo] }}</span>
        }
      </div>
      <div class="card-padding"></div>
    </mat-card-content>
    <mat-card-actions>
      <div></div>
      <button mat-raised-button class="edit-button">Editar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Otras enfermedades</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        @for(enfermedad of (enfermedades | slice: enfermedadesPagina * 2
        :enfermedadesPagina * 2 + 2); track $index){
        <span class="item-key">Enfermedad:</span>
        <span class="item-value">{{ enfermedad.enfermedad }}</span>
        }
      </div>
      <div class="card-padding"></div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-icon-button><mat-icon>navigate_before</mat-icon></button>
        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
      </div>
      <button mat-raised-button class="edit-button">Editar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Experiencia Hospitalaria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        @for(experiencia of (experiencias | slice: experienciasPagina * 2
        :experienciasPagina * 2 + 1); track experiencia.id){
        <mat-card
          ><mat-card-header>
            <mat-card-title
              >{{ experiencia.unidad_hospitalaria }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ experiencia.experiencia }}
          </mat-card-content>
        </mat-card>
        }
      </div>
      <div class="card-padding"></div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-icon-button><mat-icon>navigate_before</mat-icon></button>
        <button mat-icon-button><mat-icon>navigate_next</mat-icon></button>
      </div>
      <button mat-raised-button class="edit-button">Editar</button>
    </mat-card-actions>
  </mat-card>
</section>
